---
import Layout from '../layouts/Layout.astro';
import App from '../components/App.tsx';
---

<Layout title="Tommy's Verfdoos">
	<main>
		<App client:only="react" />
	</main>
</Layout>

<style>
	main {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
	}
</style>
